
.container {
    max-width: 1280px;
    margin: 0 auto;
}

.section {
    background-color: #2B2B2B;
    color: #fff;
}

.header {
    background-color: #2B2B2B;
}

.navigation {
    color: #fff;
    display: flex;
    justify-content: space-between;
}

.site-name {
   font-size: 16px;
   font-weight: bold;
   margin: 34px 0 34px 50px;
}

.nav-list {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin: 20px 50px 20px 0;
}

.nav-item {
    font-size: 16px;
    padding: 12px 20px;
}

.nav-item-button {
    background: #A259FF;
    border-radius: 20px;
}

.nav-button {
    background: #A259FF;

}

.nav-button-link {
    color: #fff;
}

.hero-section-frame {
    margin: 80px 115px;
    display: flex;
    gap: 30px;
    
}

.hero-text-button-info {
    width: 510px;
    margin-bottom: 80px;
}

.hero-text {

}

.hero-title {
    font-size: 67px;
    font-weight: 600;
    line-height: 73.7px;
    margin-bottom: 20px;
    font-family: "Work Sans", sans-serif;
}

.hero-subtitle {
    font-size: 22px;
    font-weight: 400;
    line-height: 35.2px;
    font-family: "Work Sans", sans-serif;
}

.hero-button {
margin-top: 30px;
margin-bottom: 30px;
}

.section-hero-button {
 padding: 20px 70px;
 background-color: #A259FF;
 border-radius: 20px;
}

.section-hero-button-link {
    font-family: "Work Sans", sans-serif;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    line-height: 22.4px;
}

.additional-info {

}

.additional-info-list {
 display: flex;
 gap: 30px;
}

.additional-info-item {
width: 150px;
}

.additional-info-title {
font-family: "Space Mono", monospace;
font-size: 28px;
font-weight: 700;
line-height: 39px;
}

.additional-info-subtitle {
font-family: "Work Sans", sans-serif;
font-size: 24px;
font-weight: 400;
line-height: 38px;
}

.hero-NFT {
width: Fill (510px);
height: Fixed (109px);
border-radius: 0px, 0px, 20px, 20px;
gap: 10px;
padding: 20px;
}

.hero-nft-image {
    width: 500px;
    height: 401px;
    border-radius: 20px 20px 0 0;
}

.hero-text-avatar {
    background: rgba(59, 59, 59, 1);
    border-radius: 0 0 20px 20px;
}

.hero-text {
    font-family: "Work Sans", sans-serif;
    font-size: 22px;
    font-weight: 600;
    line-height: 31px;
    letter-spacing: 0em;
    text-align: left;
    padding: 22px 20px 10px 20px;
}

.hero-icon-name {
display: flex;
flex-direction: row;
gap: 12px;
}

.hero-icon {
    width: 24px;
    height: 24px;
    border-radius: 120px; 
    margin-left: 20px;   
    margin-bottom: 22px;
}

.hero-name {
    font-family: "Work Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    
}

.title-text {
 margin: 80px 117px 0 117px;
}

.title-h3 {
    font-family: "Work Sans", sans-serif;
    font-size: 38px;
    font-weight: 600;
    line-height: 46px;
    letter-spacing: 0em;
    text-align: left;
}

.paragraph-title {
    font-family: "Work Sans", sans-serif;;
    font-size: 22px;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: left;
}

.collection-card {
    width: Fixed (330px);
    height: Hug (525px);
    gap: 15px;
    margin-bottom: 80px;
}

.collection-main-image {
width: 330px;
height: 330px;
border-radius: 20px;
}

.collection-photos {
display: grid;
grid-template-columns: 100px 100px 100px;
gap: 15px;
margin-top: 15px;
}

.image-collection {
width: 100%;
border-radius: 20px;
}

.number-div {
    background: #A259FF;
    padding: 32px, 15px, 32px, 15px;
    border-radius: 20px;
    text-align: center;
}

.number-additional {
padding-top: 32px;
font-family: "Work Sans", sans-serif;;
font-size: 22px;
font-weight: 700;
line-height: 35px;
}


.collection-info {
margin-top: 15px;
}

.collection-text {
    font-family: "Work Sans", sans-serif;
    font-size: 22px;
    font-weight: 600;
    line-height: 31px;
    letter-spacing: 0em;
    text-align: left;
    
}

.artist-card {
    display: flex;
    flex-direction: row;
    gap: 12px;
    margin-top: 10px;
}

.artist-icon {
    width: 24px;
    height: 24px;
    border-radius: 100px;    
}

.artist-paragraph {
    font-family: "Work Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
}

.collection-card-flex {
    display: flex;
    gap: 30px;
    margin: 60px 115px 0 115px;
}

.section-headline {
display: flex;
flex-direction: row;
margin: 80px 115px 0 115px;
justify-content: space-between;
}

.headline-text-paragraph {

}

.headline-text {
    font-family: "Work Sans", sans-serif;
    font-size: 38px;
    font-weight: 600;
    line-height: 46px;
    letter-spacing: 0em;
    text-align: left;
    
}

.headline-paragraph {
    font-family: "Work Sans", sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: left;
    
}

.headline-button {
    align-self: flex-end;
    
}

.rocket-launch-button {
    border: 2px solid #A259FF;
    border-radius: 20px;
    padding: 20px 60px;
    background-color: #2B2B2B;
    
}

.rocket-launch-button-link {
color: #fff;
font-family: "Work Sans", sans-serif;
font-size: 16px;
font-weight: 600;
line-height: 22px;
letter-spacing: 0em;
text-align: center;
}


/* .artist-cards {
    background: #3B3B3B;
    width: 240px;
    height: 238px;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}


.artist-image-card {

}

.artist-card-image {
    width: 120px;
    height: 120px;
    border-radius: 100px;
    
}

.artist-info {
margin-top: 20px;
}

.artist-info-title {
    font-family: "Work Sans", sans-serif;
    font-size: 22px;
    font-weight: 600;
    line-height: 31px;
    letter-spacing: 0em;
    text-align: center;
    
}

.artist-additional-info {
display: flex;
flex-direction: row;
gap: 10px;
justify-content: center;
margin-top: 5px;
}

.artist-total-sales {
    
    font-family: "Work Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: right;
    
}

.artist-eth {
    font-family: "Space Mono", monospace;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
}

.ranking-numbers {
    background: #2B2B2B;
    width: 30px;
    height: 30px;
    border-radius: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    right: 8px;
    bottom: 208px;
}

.ranking-numbers {
font-family: "Space Mono", monospace;
font-size: 16px;
font-weight: 400;
line-height: 22px;
letter-spacing: 0em;
text-align: center;
} */

.artist-card-group {
    padding: 20px;
    border-radius: 20px;
    gap: 20px;
    text-align: center;
    background: #3B3B3B;
}

.artist-cards-3 {
    display: grid;
    grid-template-columns: 240px 240px 240px 240px;
    grid-template-rows: 240px 240px 240px;
    margin: 60px 115px 0 115px;
    gap: 30px;
}

.artist-card-image {
margin-top: 5px;
width: 120px;
height: 120px;
border-radius: 100px;
}

.artist-info-title {
font-family: "Work Sans", sans-serif;
font-size: 22px;
font-weight: 600;
line-height: 31px;
letter-spacing: 0em;
margin-top: 20px;
}

.artist-total-sales {
font-family: Work Sans;
font-size: 16px;
font-weight: 400;
line-height: 22px;
color: #858584;
}

.artist-eth {

font-family: "Space Mono", monospace;
font-size: 16px;
font-weight: 400;
line-height: 22px;
}

.artist-additional-info {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
}


.ranking-numbers {
    background: #2B2B2B;
    width: 30px;
    height: 30px;
    border-radius: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    right: 8px;
    bottom: 202px;
}

.ranking-numbers {
font-family: "Space Mono", monospace;
font-size: 16px;
font-weight: 400;
line-height: 22px;
letter-spacing: 0em;
text-align: center;
color: #858584;

    }






















@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap')